#game_table {
	margin: 10px auto;
}

#game_table div {
	border: 1px solid #07c;
	width: 75px;
	height: 75px;
	cursor: pointer;
}

#settings{
	text-align: center;
}

.showingCard{
	background-color: #ccc;
}

.pairFound{
	background-color: #ff0;
}
