#drawTools{
		background:url(images/Palette_Bkgrd_iPhone.png) no-repeat;
		position:absolute;
		bottom:10px;
		left:10px;
		height:100px;
		width:100%;
		z-index:40;
	}
	#array{
		height:50px;
		width:59px;
		background:url(images/Brush_array_Up.jpg)no-repeat;
		position:relative;	
		padding-left:10px;
		float:left;
		z-index:2;
	}
	#pencil{
		height:50px;
		width:59px;
		background:url(images/Brush_pencil_Over.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#rectangle{
		height:50px;
		width:59px;
		background:url(images/Brush_rectangle_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#clear{
		top:28px;
		left:36px;
		height:50px;
		width:50px;
		background:url(images/Brush_clear_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:200;
	}
	#divMain{
		position:absolute;
		left:0px;
		opacity:.1;
		background:#ffffff;
		right:0px;
		top:0px;
		bottom:0px;
		z-index:1;
	}
	
	#red{
		height:50px;
		width:59px;
		background:url(images/Color_1-Red_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#orange{
		height:50px;
		width:59px;
		background:url(images/Color_2-Orange_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#yellow{
		height:50px;
		width:59px;
		background:url(images/Color_3-Yellow_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#magenta{
		height:50px;
		width:59px;
		background:url(images/Color_4-Magenta_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#pink{
		height:50px;
		width:59px;
		background:url(images/Color_5-Pink_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#lavender{
		height:50px;
		width:59px;
		background:url(images/Color_6-Lavender_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#purple{
		height:50px;
		width:59px;
		background:url(images/Color_7-Purple_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#blue{
		height:50px;
		width:59px;
		background:url(images/Color_8-Blue_Over.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#green{
		height:50px;
		width:59px;
		background:url(images/Color_9-Green_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#grey{
		height:50px;
		width:59px;
		background:url(images/Color_10-Grey_Up.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	#white{
		height:50px;
		width:59px;
		background:url(images/Color_11-White_Over.jpg)no-repeat;
		position:relative;
		float:left;
		z-index:2;
	}
	